@model LexiconMovie.Models.ViewModels.MovieViewModel
@inject LexiconMovie.Services.ISelectService service

@{
    ViewData["Title"] = "Index3";
}

<h1>Index3</h1>

<form asp-action="Filter2">
    <div class="input-group mb-3">
        <input type="text" class="form-control" asp-for="@Model.Title" placeholder="Search on title..." />
        <div class="input-group-append">
            <select asp-for="@Model.Genre" asp-items="@await service.GetGenresAsync()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<partial name="MovieListPartial" model="@Model.Movies" />
